* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


/* header */
.main-top {
    padding: 20px;
    box-shadow: 0px 5px black;
    z-index: 100;
}
.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;

    background-color: rgb(145, 196, 240);
}

.logo {
    display: flex;
    align-items: center;
}
.logo-item{
    margin-left: 8px;
    padding: 10px;
    background-color: rgb(125, 247, 175);
}
.logo-item:hover{
    background-color: rgb(13, 128, 89);
    color: rgb(255, 255, 255);
}

.profile {
    display: flex;
    align-items: center;
}
.profile-item {
    margin-left: 8px;
    padding: 10px;
    background-color: #73eca1;
}
.profile-item:hover{
    background-color: rgb(30, 128, 95);
    color: rgb(255, 255, 255);
}

/* info bar */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.class-info {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.user-info{
    white-space: nowrap;
    display: flex;
    justify-content: end;
}

.hi{
    margin: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 195, 195);
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 50px;
    background-color: #73eca1;
}
.contact-item{
    margin-left: 20px;
    font-size: 20px;
    font: bold;
}